:root{
    --primary: #F5F1EA;
    --secondary: #262627;
}

body{
    overflow-x: hidden;
    /* background-color: var(--primary); */
}

.navbar .navbar-nav .nav-link{
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid var(--secondary);
    padding: .6rem .5rem;
    border-radius: .8rem;
}

.navbar .navbar-nav .nav-custom{
    background-color: var(--secondary);
    padding: .6rem .5rem;
    border-radius: .8rem;
}

.text-black{
    color: var(--secondary)!important;
}

#home{
    height: 100vh;
}

.btn-primary{
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-radius: .8rem
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #141414!important;
    border-color:  #141414!important;
    box-shadow: 0 0 0 0.2rem rgba(20, 20, 20, .5)!important;

}

.btn-primary:active{
    background-color: var(--secondary);
}

.btn-secondary, .btn-secondary:hover{
    border: 1px solid var(--secondary);
    border-radius: .8rem;
    background-color: white;
    box-shadow: 0 0 0 0.2rem rgba(245, 241, 234, .5)!important;
}

.btn-secondary:active{
    background-color: white!important;
}

.form-control{
    border-color: rgba(20, 20, 20, .5)!important;
    background-color: var(--primary);
    border-radius: .8rem;
}

.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(20, 20, 20, .5)!important;
    background-color: var(--primary);
}

footer{
    padding: 40px 0;
    background-color: var(--secondary);
    color: white;
}

footer a, footer a:hover{
    margin: 0;
    color: white;
    text-decoration: none;
}

.bg-puppy{
    background-image: url(../img/bg-puppy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%
}

.bg-overlay{
    background-color: rgba(20, 20, 20, .4);
}